<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
</head>
<body>
<div>
    <h1>BMW Group Ordering</h1>
</div>
<table>
{% for restaurant in restaurants %}
    <tr>
    <div>
        <td><a href="{% url "menu" pk=restaurant.pk %}">{{ restaurant.name }}</a></td>
        {% if restaurant.status %}
            <td style="padding-left:300px">营业中</td>
        {% else %}
        <td style="padding-left:300px">休息中</td>
        {% endif %}
    </div>
    </tr>
{% endfor %}
</table>
</body>
</html>